.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.album a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    width: 90px;
}

.album a i {
    font-size: 1.1rem;
}

.bars {
    font-size: 20px;
}

.bars-div {
    padding: .3rem .8rem;
    border-radius: 5px;
    cursor: pointer;
    opacity: .5;
    background: transparent;
}


.headeracc{
    display: flex;
    flex-direction: column;
}


