* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    background: rgba(0, 0, 0, 0.513);
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    flex-wrap: wrap;
   
}

.ftes-card-ilk {
    position: relative;
    overflow: hidden;
    border: 3px solid #000000ba;
    margin: 1rem;
}

.ftes-card-ilk img {
    width: 400px;
    height: 100%;
}

.overlay{
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.598);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.ftes-card-ilk:hover .overlay{
    height: 100%;
}

.ftes-card-ilk:hover .program{
        color: white;
        margin-top: 1rem;
        opacity: 1;
        margin-bottom: -3rem;
        transition: all .7s ease-in-out;
}

.ftes-card-iki img {
    width: 400px;
}

.program {
    color: white;
    margin-top: 3rem;
    opacity: 0;
    margin-bottom: -4rem;
    transition: all .7s ease-in-out;
}

@media (max-width:480px) {

    .ftes-card-ilk img {
        width: 250px;
        height: 100%;
    }
}
